@media (max-width:900px) {
    .login-modal-content::before{
       display: none;
    }
    .rv-ca-container{
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        margin: 10px 0 20px;
        /* line-height:normal; */
        
        a{
            padding: 0px 7px 1px;
            background-color: #baf8f0;
            color: #000000;
            border-radius: 5px;
        }
    }
    html.dark-theme #login-modal{
        color: white;
    }
    #login-modal {
        width: 100%;
        color: black;
        position: relative;
    }
    
    .login-logo-container{
        margin-bottom: 40px;
    }
    .login-logo-container .login-logo{
        background-image: url('../images/pc\ logo.png');
        background-size: contain;
        background-position: center;
        background-repeat:no-repeat;
        width:91px;
        height: 100px;
    }
    .login-logo-container p{
        display:block;
        font-size:40px;
        font-weight: 600;
    }
    .login-header {
        display: block;
        
        .mv-title{
            display:block;
            text-align: left;
            font-size: 40px;
            font-weight: 500;
            margin: 0 auto;
            width: 100%;
            max-width: 350px;
            line-height:1.8;
            padding: 5px;
        }

        .dv-title{
            display: none;
        }
    }
    .admin-modal-content{
        display: none;
    }
    .login-modal-content {
        position:static;
        background-color: #fefefe00;
        border-radius: 0px;
        margin: 0 auto;
        padding: 5px;
        width: 100%;
        max-width: 350px;
        box-shadow: 0 0 0 rgba(221, 221, 221, 0);
        contain:none;
    }
    html.dark-theme .login-modal-content form div .show-password{
        color: white;
    }
    html.dark-theme .login-modal-content form div .lp-icon , html.dark-theme .login-modal-content form div .eU-icon {
        color: #fff;
    }
    html.dark-theme form .form-box input:is(:focus, :valid) ~ label{
        background-color: #28292a;
        padding: 0 5px;
    }
    html.dark-theme form .form-box input {
        border: 1px solid #ccc;
        color: white;
    }
    html.dark-theme form .form-box label{
        color:#e2e2e2;
    }
    .login-modal-content form > div:first-of-type {
        margin-bottom: 20px;
    }
    form .form-box{
        position:relative;
        z-index: 10;
    }
    form .form-box input {
        width: 100%;
        padding: 15px 33px;
        margin: 10px 0 10px 0;
        display:block;
        font-size: 15px;
        border: 1px solid #ccc;
        background-color: transparent;
        border-radius: 10px;
        outline: none;
        position:relative;
        z-index: 10;
    }
    form .form-box label{
        position: absolute;
        top: 45px;
        left: 35px;
        color:#7c7c7c;
        pointer-events: none;
        transform:translateY(-100%);
    }
    form .form-box input:is(:focus, :valid) ~ label{
        transform:translateY(-245%);
        font-size: 13px;
        color: #00c8ac;
        background-color: #ffffff;
        padding: 0 5px;
    }
    .login-modal-content form div .show-password {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 22px;
        z-index: 20;
        color: #3a3a3a;
    }
    .login-modal-content form div .lp-icon , .login-modal-content form div .eU-icon {
        top: 21px;
    }
    #login-modal .login-footer {
        display:none;
    }
    #login-modal .terms{
        display:none;
    }
    #login-modal .terms p a{
        text-decoration: none;
        color: #00c8ac;
    }
    .login-modal-content form div .emailOrUsername-err, .login-modal-content form div .login_password-err{
        font-size:14px;
    }
    .msg-error {
        border-left: 4px solid red;
        font-style: oblique;
        width: 50%;
        border-radius: 10px;
        padding: 15px 10px;
        font-size: 14px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
        color: rgb(255, 0, 0);
        position: fixed;
        z-index: 1000;
        top: 80px;
        right: 10px;
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .msg-success {
        border-left: 4px solid rgb(35, 255, 0);
        font-style: oblique;
        width: 50%;
        border-radius: 10px;
        padding: 15px 10px;
        font-size: 14px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
        color: green;
        position: fixed;
        z-index: 1000;
        top: 80px;
        right: 10px;
        display: flex;
        align-items: center;
        gap: 15px;
    }    
}